header #header-icon,
header .menubar {
  display: none;
}

header a {
  text-decoration: none;
  color: #000000;
}

a {
  color: #666;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.twoImagesSideBySide img {
  width: 48%;
}

.threeImagesSideBySide img {
  width: 32%;
}

.halfSizeImage img {
  max-width: 450px !important;
  width: 100%;
}

code {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #222;
  font-size: 13px;
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}

table {
  margin-bottom: 15px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px 7px;
  font-weight: bold;
}

td {
  border: 1px solid #dddddd;
  padding: 4px 7px;
}

td img {
  vertical-align: middle;
}
