header #header-icon,
header .menubar {
  display: none;
}

header a {
  text-decoration: none;
  color: #000000;
}

a {
  color: #666;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.twoImagesSideBySide img {
  width: 48%;
}

code {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #222;
  font-size: 13px;
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}
