<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print">

    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }} - KouChat - Serverless LAN Chat</title>
  </head>

  <body>
    <div id="body-wrapper">
      <header>
        <ul class="inner menubar">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/news/">News</a></li>
          <li><a href="{{ site.baseurl }}/downloads/">Downloads</a></li>
          <li><a href="{{ site.baseurl }}/issues/">Issues</a></li>
          <li><a href="{{ site.baseurl }}/donate/">Donate</a></li>
          <li><a href="{{ site.baseurl }}/help/">Help</a></li>
        </ul>
        <div class="inner">
          <h1><a href="{{ site.baseurl }}/">KouChat</a></h1>
          <h2>Serverless LAN Chat</h2>
          <img src="{{ site.baseurl }}/images/kou_icon.png" id="header-icon" alt="KouChat icon"/>
        </div>
      </header>

      <div id="content-wrapper">
        <div class="inner clearfix">
          <section id="main-content">
            {{ content }}
          </section>
        </div>
      </div>

      <footer>
        <div class="inner">
          <p class="repo-owner">Created by <a href="https://github.com/blurpy">Christian Ihle</a></p>
          <p><small>This page is hosted by <a href="https://pages.github.com">GitHub Pages</a> using a modified Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</small></p>
        </div>
      </footer>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-2661590-5");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>
